<h3>Here is a list of your characters:</h3>

<% @user.characters.each do |t| %>
    <div>
    <%= t.name %>
    </div>
<% end %><form method="get" action="/logout">
  <input class="btn btn-primary" type="Logout">
</form>