<h3>Add New Character</h3>
<form action="/add_character" method="post">
  <p>Name: <input type="text" name="name"></p>
  <p>Intellect: <input type="number" name="intellect"></p>
  <p>Strength: <input type="number" name="strength"></p>
  <p>Stamina: <input type="number" name="stamina"></p>
  <p>Agility: <input type="number" name="Agility"></p>
  <p>Haste: <input type="number" name="Haste"></p>
  <p>Versatility: <input type="number" name="versatility"></p>
  <p>Mastery: <input type="number" name="Mastery"></p>
  <p>Crit Chance: <input type="number" name="crit_chance"></p>
  <input class="btn btn-primary" type="submit">
</form>




<form method="get" action="/logout">
    <input class="btn btn-primary" type="submit" value="Logout">
</form>