<div>
    <h4>
        <%= @character.name.capitalize %>:
    </h4>
    <div>
        <% @character.as_json.each do |attr, value| %>
            <% next if ['id', 'name', 'user_id'].include?(attr) %>
            <li>
                <%= "#{attr.capitalize} : #{@character.send(attr)}" %>
            </li>
        <% end %>
    </ul>
</div>
<div>
    <a class="btn btn-primary" href=<%="/character/#{@character.id}/edit"%>>Edit Character</a>
</div>
<br>
<form method="get" action="/logout">
    <input class="btn btn-primary" type="submit" value="Logout">
</form>
<br>
<form method="post" action="/character/<%= @character.id %>/delete">
    <input class="btn btn-primary" type="submit" value="Delete Character">
</form>


