<div>
    <h2>
        <%= @character.name.capitalize %>
    </h2>
    <ul>
        <% (Character.last.attributes.keys - ["user_id", "id", "name"]).each do |attr| %>
            <li>
                <%= "#{attr.capitalize} : #{@character.send(attr)}" %>
            </li>
        <% end %>
    </ul>
</div>

<form method="get" action="/logout">
    <input class="btn btn-primary" type="submit" value="Logout">
</form>
<br>
<form method="post" action="/character/<%= @character.id %>/delete">
    <input class="btn btn-primary" type="submit" value="Delete Character">
</form>

