<nav>
    <% if logged_in? %>
        <a href="/characters"> View Character List </a>

    <% else %>
        <h3>Please <a href="/signup">sign up</a> or <a href="/login">login</a></h3>
    <% end %>


</nav>